/* RESET */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background:#0f1215;
    color:white;
}

/* CENTER FORM */
.container{
    width:350px;
    margin:100px auto;
    background:#1b1f24;
    padding:30px;
    border-radius:12px;
    box-shadow:0 0 20px rgba(0,255,99,0.4);
}

/* INPUT */
input{
    width:100%;
    padding:12px;
    margin:12px 0;
    border-radius:7px;
    border:none;
    outline:none;
}

/* BUTTON */
.btn{
    width:100%;
    background:#12ef7d;
    padding:12px;
    border:none;
    border-radius:7px;
    cursor:pointer;
    font-size:18px;
    font-weight:bold;
    transition:.3s;
}
.btn:hover{
    background:#0ccd66;
}

/* HOME PAGE */
.nav{
    width:100%;
    background:#1b1f24;
    padding:18px 30px;
    display:flex;
    justify-content:space-between;
    align-items:center;
}
.nav a{
    color:white;
    text-decoration:none;
    font-size:18px;
}

.course-grid{
    margin-top:40px;
    display:grid;
    grid-template-columns: repeat(3,1fr);
    gap:20px;
    padding:30px;
}

.card{
    background:#1b1f24;
    padding:20px;
    border-radius:15px;
    box-shadow:0 0 15px rgba(255,255,255,0.1);
}
.card img{
    width:100%;
    border-radius:10px;
}
.card h3{ margin:10px 0; }
.card p{ opacity:.7; }

.card button{
    width:100%;
    margin-top:10px;
    padding:10px;
    border:none;
    background:#12ef7d;
    border-radius:8px;
    cursor:pointer;
    transition:.3s;
}
.card button:hover{
    background:#08c56a;
}

/* DASHBOARD */
.dashboard{
    padding:30px;
}

.video-box{
    width:100%;
    background:#1b1f24;
    padding:20px;
    border-radius:10px;
    margin-bottom:30px;
}

.price-box{
    background:#12ef7d;
    padding:15px;
    border-radius:7px;
    color:black;
    font-size:20px;
    font-weight:bold;
}
.shop-btn{
    margin-top:15px;
    padding:12px;
    width:100%;
    background:#1b1f24;
    color:white;
    border:2px solid #12ef7d;
    border-radius:7px;
    cursor:pointer;
}
